#wrapper{
	.box{
		float: left;
	}
	.items{
		display: block;
		
		.table-header{
			display: block;
			width: 100%;
			background-color: #2CADE3;
			height: 45px;
			color: #fff;
			
			.item{
				width: 100%;
				clear: left;
				padding: 10px;
			}
			
		}
		
		.table-content{
			display: block;
			width: 100%;
			
			.item{
				display: block;
				border-bottom: 1px solid #ccc;
				height: 30px;
				clear: left;
				padding: 10px;
				
				&.active{
					background-color: #eee;
				}
			}
		
		}
		
		.ordering{
			width: 50px;
		}
		.student_id{
			width: 100px;
		}
		.student_name{
			width: 200px;
		}
		.score_1{
			min-width: 150px;
		}
		.score_2{
			min-width: 170px;
		}
		.score_3{
			min-width: 150px;
		}
		
		.score_1_sum{
			width: 60px;
		}
		.score_2_sum{
			width: 60px;
		}
		.score_3_sum{
			width: 60px;
		}
		
		.box-sum{
			text-align: center;
		}
		.box-grade{
			text-align: center;
			min-width: 60px;
		}
	}
}