#wrapper .box {
  float: left;
}
#wrapper .items {
  display: block;
}
#wrapper .items .table-header {
  display: block;
  width: 100%;
  background-color: #2CADE3;
  height: 45px;
  color: #fff;
}
#wrapper .items .table-header .item {
  width: 100%;
  clear: left;
  padding: 10px;
}
#wrapper .items .table-content {
  display: block;
  width: 100%;
}
#wrapper .items .table-content .item {
  display: block;
  border-bottom: 1px solid #ccc;
  height: 30px;
  clear: left;
  padding: 10px;
}
#wrapper .items .table-content .item.active {
  background-color: #eee;
}
#wrapper .items .ordering {
  width: 50px;
}
#wrapper .items .student_id {
  width: 100px;
}
#wrapper .items .student_name {
  width: 200px;
}
#wrapper .items .score_1 {
  min-width: 150px;
}
#wrapper .items .score_2 {
  min-width: 170px;
}
#wrapper .items .score_3 {
  min-width: 150px;
}
#wrapper .items .score_1_sum {
  width: 60px;
}
#wrapper .items .score_2_sum {
  width: 60px;
}
#wrapper .items .score_3_sum {
  width: 60px;
}
#wrapper .items .box-sum {
  text-align: center;
}
#wrapper .items .box-grade {
  text-align: center;
  min-width: 60px;
}
